<div
  class="w-full h-full py-1 px-3 flex items-center justify-between rounded-lg"
  [ngClass]="data.style"
>
  <span class="message" matSnackBarLabel>{{ data.message }}</span>
  <span matSnackBarActions>
    <button
      type="button"
      title="Fechar"
      mat-icon-button
      matTooltip="Basic"
      aria-label="Fechar"
      matSnackBarAction
      class="flex items-center justify-center"
      (click)="snackBarRef.dismissWithAction()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </span>
</div>
