<header class="app-header">
  <a routerLink="/">
    <h2 class="title">gabrielluciano<span>.com</span></h2>
  </a>

  <div class="buttons">
    <a href="https://github.com/gabrielluciano" target="_blank" class="link">
      <img src="assets/github-logo.svg" alt="Github" class="github-logo" />
    </a>

    <a href="https://www.linkedin.com/in/gabriel-lucianosouza/" target="_blank" class="link">
      <img src="assets/linkedin-logo.svg" alt="Linkedin" class="linkedin-logo" />
    </a>

    <button
      mat-flat-button
      color="accent"
      class="login-button"
      type="button"
      (click)="openDialog()"
    >
      Login
    </button>
  </div>
</header>
