@import 'mixins';

:host {
  height: 86px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.app-header {
  width: 100%;
  max-width: 1088px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    @include blog-logo;
  }

  .buttons {
    display: flex;
    gap: 30px;

    img {
      filter: var(--white-filter);

      transition: all ease-in-out 0.3s;

      &.github-logo:hover {
        filter: var(--github-color-filter);
      }

      &.linkedin-logo:hover {
        filter: var(--linkedin-color-filter);
      }
    }
  }
}
