<header
  class="sticky top-0 z-20 w-full bg-neutral-900 h-16 shrink-0 px-4 border-b border-neutral-800"
>
  <div class="container h-full mx-auto flex items-center justify-between">
    <div>
      <button
        mat-icon-button
        matTooltip="Basic"
        aria-label="Abrir menu"
        class="flex items-center justify-center"
        (click)="openMenu()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div class="px-4">
      <a routerLink="/">
        <h2 class="text-base sm:text-xl md:text-2xl font-bold">
          gabrielluciano<span class="text-blue-app">.com</span>
        </h2>
      </a>
    </div>

    <div class="flex flex-row gap-4">
      <a href="https://github.com/gabrielluciano" target="_blank" class="link" aria-label="Github">
        <img src="assets/github-logo.svg" alt="Github" class="github-logo" />
      </a>

      <a
        href="https://www.linkedin.com/in/gabriel-lucianosouza/"
        target="_blank"
        class="link"
        aria-label="Linkedin"
      >
        <img src="assets/linkedin-logo.svg" alt="Linkedin" class="linkedin-logo" />
      </a>
    </div>
  </div>
</header>

<app-menu [show]="isMenuOpen" (whenClose)="closeMenu()"></app-menu>
