@import 'variables';
@import 'mixins';

:host {
  width: 100%;
}

.form {
  width: 100%;
  height: 100%;

  padding: 48px 32px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--black);

  .title {
    margin-bottom: 48px;

    font-family: 'Inter', sans-serif;
    font-size: 2rem;
  }

  .input {
    width: 100%;
    max-width: 100%;

    margin-bottom: 24px;
  }

  .error {
    margin-top: 4px;

    font-size: 14px;
  }

  .buttons {
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 16px;

    .button {
      @include button;
      min-width: 96px;
    }
  }
}
