@import 'variables';

:host {
  width: 100%;

  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.footer {
  font-family: 'Noto Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.875rem;

  @media (max-width: $tablet) {
    font-size: 0.75rem;
  }
}
