@import '../../../styles/mixins';

.hero {
  max-width: 716px;

  margin-top: 48px;

  display: flex;
  gap: 42px;

  .image {
    width: 144px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;

    h1 {
      @include blog-logo;
    }

    p {
      color: var(--white);
    }
  }
}