@import 'variables';
:host {
  width: 100%;
  background-color: var(--black);
}

.paginator {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.8rem;

  background-color: var(--black);

  @media (max-width: $laptop) {
    font-size: 0.75rem;
  }

  @media (max-width: $mobile) {
    font-size: 0.625rem;
  }
}
