@use '@angular/material' as mat;
@include mat.core();

$dark-primary: mat.m2-define-palette(mat.$m2-indigo-palette, A700);
$dark-accent: mat.m2-define-palette(mat.$m2-gray-palette, 50);
$dark-warn: mat.m2-define-palette(mat.$m2-red-palette, 500);

$dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);

@include mat.all-component-themes($dark-theme);
