<article class="post-list-item" *ngIf="post">
  <div class="image-container">
    <a routerLink="/posts/{{ post.slug }}" title="Post image">
      <img [src]="post.imageUrl" alt="Post image" />
    </a>
  </div>
  <div class="content">
    <header>
      <a routerLink="/posts/{{ post.slug }}">
        <h2 class="title">
          {{ post.title }}
        </h2>
      </a>
    </header>
    <main>
      <a routerLink="/posts/{{ post.slug }}">
        <p class="subtitle">
          {{ post.subtitle }}
        </p>
      </a>
    </main>
    <footer class="footer">
      <span class="publish-date" *ngIf="post.publishedAt; else updateDate">{{
        post.publishedAt | dateFormat
      }}</span>
      <ul class="tag-list" *ngIf="post.tags">
        <li *ngFor="let tag of post.tags">
          <app-pill path="/posts/tag/{{ tag.id }}/{{ tag.slug }}">{{ tag.name }}</app-pill>
        </li>
      </ul>
    </footer>
  </div>
</article>
<ng-template #updateDate>
  <span class="publish-date">{{ post.updatedAt | dateFormat }}</span>
</ng-template>
