@import '../../styles/variables';

:host {
  height: 86px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.app-header {
  width: 100%;
  max-width: 1088px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .app-header__title {
    h2 {
      @include blog-logo-style;
    }
  }

  .app-header__buttons {
    display: flex;
    gap: 30px;

    a img {
      filter: $white-color-filter;

      transition: all ease-in-out 0.3s;

      &.github-logo:hover {
        filter: $github-color-filter;
      }

      &.linkedin-logo:hover {
        filter: $linkedin-color-filter;
      }
    }
  }
}
