<article *ngIf="post; else loading" class="mt-6 md:mt-12 w-full max-w-3xl mx-auto">
  <header>
    <h1 class="text-xl sm:text-2xl md:text-3xl font-bold">{{ post.title }}</h1>
    <h2 class="mt-6 text-sm md:text-base text-zinc-300">{{ post.subtitle }}</h2>
    <div class="mt-6 flex flex-col sm:flex-row sm:items-center sm:justify-between">
      <p class="text-xs md:text-sm text-zinc-300">
        Por <strong>{{ post.author.name }}</strong>
      </p>
      <p class="mt-1 sm:mt-0 text-xs md:text-sm text-zinc-300">
        Criado em {{ post.createdAt | dateFormat }}
      </p>
    </div>
    <div class="flex items-center justify-between mt-6">
      <div class="flex items-center justify-center">
        <ul *ngIf="post.tags.length > 0" class="flex gap-3">
          <li *ngFor="let tag of post.tags">
            <app-pill path="/posts/tag/{{ tag.id }}/{{ tag.slug }}">
              {{ tag.name }}
            </app-pill>
          </li>
        </ul>
      </div>
      <div *ngIf="editor$ | async" class="flex items-center justify-between gap-2 cursor-pointer">
        <mat-icon
          class="hover:text-sky-500 transition-all"
          fontIcon="edit"
          title="Editar post"
          aria-label="Editar post"
          (click)="openDialog('edit')"
        ></mat-icon>
        <mat-icon
          class="hover:text-green-600 transition-all"
          fontIcon="publish"
          title="Publicar post"
          aria-label="Publicar post"
          *ngIf="!post.published"
          (click)="openDialog('publish')"
        ></mat-icon>
        <mat-icon
          class="hover:text-amber-400 transition-all"
          fontIcon="unpublished"
          title="Despublicar post"
          aria-label="Despublicar post"
          *ngIf="post.published"
          (click)="openDialog('unpublish')"
        ></mat-icon>
        <mat-icon
          class="hover:text-red-500 transition-all"
          fontIcon="delete"
          title="Excluir post"
          aria-label="Excluir post"
          (click)="openDialog('delete')"
        ></mat-icon>
      </div>
    </div>
    <div class="relative w-full h-56 sm:h-80 md:h-96 rounded-xl overflow-hidden mt-6">
      <img
        ngSrc="{{ post.imageUrl }}-1000w.webp"
        srcset="
          {{ post.imageUrl }}-500w.webp   500w,
          {{ post.imageUrl }}-800w.webp   800w,
          {{ post.imageUrl }}-1000w.webp 1000w
        "
        alt="Imagem do post"
        fill
        priority
      />
    </div>
  </header>
  <main
    class="mt-12 mb-12 prose prose-sm md:prose-base prose-code:text-sm prose-code:bg-transparent prose-a:text-blue-app prose-invert max-w-none prose-h2:text-lg sm:prose-h2:text-xl md:prose-h2:text-2xl prose-h3:text-base sm:prose-h3:text-lg md:prose-h3:text-xl"
    [appMarkdown]="post.content"
  ></main>
</article>
<ng-template #loading>
  <div>
    <mat-spinner [diameter]="60" title="Carregando posts"></mat-spinner>
  </div>
</ng-template>
