<article class="post" *ngIf="post; else loading">
  <header class="header">
    <h1 class="title">{{ post.title }}</h1>
    <h3 class="subtitle">{{ post.subtitle }}</h3>
    <div class="post-info">
      <span class="author"
        >Por <strong>{{ post.author.name }}</strong></span
      >
      <span>Criado em {{ post.createdAt | dateFormat }}</span>
    </div>
    <div class="tags-crud-container">
      <div>
        <ul class="tags" *ngIf="post.tags.length > 0">
          <li *ngFor="let tag of post.tags">
            <app-pill path="/posts/tag/{{ tag.id }}/{{ tag.slug }}">{{ tag.name }}</app-pill>
          </li>
        </ul>
      </div>
      <div class="crud" *ngIf="editor">
        <mat-icon
          fontIcon="edit"
          title="Editar post"
          aria-label="Editar post"
          class="icon edit"
          (click)="openDialog('edit')"
        ></mat-icon>
        <mat-icon
          fontIcon="publish"
          title="Publicar post"
          aria-label="Publicar post"
          class="icon publish"
          *ngIf="!post.published"
          (click)="openDialog('publish')"
        ></mat-icon>
        <mat-icon
          fontIcon="unpublished"
          title="Despublicar post"
          aria-label="Despublicar post"
          class="icon unpublish"
          *ngIf="post.published"
          (click)="openDialog('unpublish')"
        ></mat-icon>
        <mat-icon
          fontIcon="delete"
          title="Excluir post"
          aria-label="Excluir post"
          class="icon delete"
          (click)="openDialog('delete')"
        ></mat-icon>
      </div>
    </div>
    <div class="image-container">
      <img
        ngSrc="assets/laptop-1000w.jpg"
        srcset="
          assets/laptop-500w.jpg   500w,
          assets/laptop-800w.jpg   800w,
          assets/laptop-1000w.jpg 1000w
        "
        alt="Imagem do post"
        fill
      />
    </div>
  </header>
  <main class="content">
    {{ post.content }}
  </main>
</article>
<ng-template #loading>
  <div class="loading">
    <mat-spinner [diameter]="60" title="Carregando posts"></mat-spinner>
  </div>
</ng-template>
