@import 'variables';
@import 'mixins';

:host {
  @include page-host-style;
}

.post-list {
  width: 100%;

  display: flex;
  justify-content: center;

  .toggle {
    padding-right: 32px;
    padding-bottom: 32px;

    position: fixed;
    bottom: 0;
    right: 0;

    @media (max-width: $tablet) {
      display: none;
    }
  }
}
