@import 'variables';
@import 'material-theme';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Noto Sans JP', 'Helvetica Neue', sans-serif;
  font-size: 16px;

  background-color: var(--black);
  color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

.dialog {
  padding: 0 20px;
}

// Remove angular material snackbar background color

.mdc-snackbar__surface {
  background-color: inherit !important;
  padding: 0 !important;
}
