@import 'variables';
@import 'material-theme';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Noto Sans JP", "Helvetica Neue", sans-serif;
  font-size: 16px;

  background-color: var(--black);
  color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}