@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

@import 'material-theme';

@import 'node_modules/easymde/dist/easymde.min.css';

@import 'node_modules/highlight.js/scss/atom-one-dark.scss';

body {
  font-family: 'Inter', sans-serif;
}

// Angular Material styles override

mat-icon.mat-icon {
  display: block;
}

.mdc-notched-outline__notch {
  border-right: none;
}

.dialog {
  padding: 0 16px;
}

.mdc-snackbar__surface {
  background-color: inherit !important;
  padding: 0 !important;
}

// Reset browser autofill color
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.87);
}
