@import 'variables';
@import 'mixins';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 48px;

  @include blog-logo;

  @media (max-width: $laptop) {
    font-size: 1.75rem;
  }

  @media (max-width: $mobile) {
    font-size: 1.5rem;
  }
}
