<section
  class="mt-8 sm:mt-12 max-w-3xl mx-auto flex flex-row gap-6 sm:gap-10 items-center justify-between"
>
  <div class="shrink-0">
    <img
      src="assets/hero-image.png"
      alt="Foto do Gabriel Luciano, criador deste blog."
      class="w-24 h-24 md:w-32 md:h-32"
    />
  </div>
  <div class="flex flex-col gap-6 md:gap-8">
    <h1 class="font-bold text-xl sm:text-2xl md:text-3xl">
      gabrielluciano<span class="text-blue-app">.com</span>
    </h1>
    <p class="text-xs sm:text-sm md:text-base">
      Sou apaixonado por tecnologia e compartilho um pouco da minha paixão com você neste blog!
    </p>
  </div>
</section>
