<section>
  <div *ngIf="postsPage; else loading">
    <app-post-list-item *ngFor="let post of postsPage.content" [post]="post"></app-post-list-item>
    <app-paginator
      (page)="onPageEvent($event)"
      [length]="postsPage.totalElements"
      [pageIndex]="postsPage.number"
      [pageSize]="postsPage.size"
      [pageSizeOptions]="[10, 20, 30]"
    ></app-paginator>
  </div>
  <ng-template #loading>
    <div>
      <mat-spinner [diameter]="60" title="Carregando posts"></mat-spinner>
    </div>
  </ng-template>
</section>
