@import 'variables';
@import 'mixins';

:host {
  margin-top: 84px;
  width: 100%;
  max-width: 824px;
}

.post-list {
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  gap: 48px;

  @media (max-width: $tablet) {
    gap: 32px;
  }
}

.loading {
  @include loading;
}
